body {
    background-color:whitesmoke;
}

/* animacion para deslizar el elemento desde offscreen al centro*/
@keyframes slideIN {
      0% {
        transform: translateX(-1000px);
      }
      70% {
        transform: translateX(75px)
      }
      100% {
        transform: translateX(0);
      }
}

/* animacion para que el elemento aparezca lentamente */
@keyframes fadeIN {
    0% {opacity: 0;}
    100% {opacity: 100;}
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    text-align: center;
    font-size: 50px;
    animation-name: fadeIN;
    animation-duration: 2s;
}

hr {
    width: 500px;
    animation-name: fadeIN;
    animation-duration: 2s;
}

.overlay-message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    color: white;
    font-size: 50px;
    vertical-align: text-top;
}

/* botones */
.boton {
    border: 2px solid black;
    text-align: center;
    color: white;
    font-size: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    padding: 5px 10px;
    transition-duration: 0.4s;
    border-radius: 5px;
    animation-name: fadeIN;
    animation-duration: 0.7s;
}

.boton:hover {
    color: black;
}

.btnNuevoJuego {
    background-color:rgb(27, 144, 54);
}

.btnNuevoJuego:hover {
    background-color: rgb(83, 214, 114);
}

.btnRegresar {
    background-color:rgb(80, 80, 80);
}

.btnRegresar:hover {
    background-color: rgb(200, 200, 200);
}

.btnEstadisticas {
    background-color:rgb(64, 97, 139);
}

.btnEstadisticas:hover {
    background-color: rgb(116, 148, 189);
}

/* grid para la matriz de juego */
.flex-container {
    display: flex;
    background-color: rgb(79, 111, 149);
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    max-height: fit-content;
    justify-content: center;
    margin: auto;
    animation-name: slideIN;
    animation-duration: 0.3s;
}

.flex-container > div {
    margin: 2px;
    width: 100px;
    height: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5vw;
    vertical-align: middle;
    line-height: 100px;
}

.wrapper {
    text-align: center;
    padding: 10px;
}

.x0 {
    background-color: rgb(131, 164, 207);
    color: black;
}

.x2 {
    background-color: rgb(151, 187, 233);
    color: black;
}

.x4 {
    background-color: rgb(144, 133, 197);
    color: black;
}

.x8 {
    background-color: rgb(157, 80, 187);
    color: white;
}

.x16 {
    background-color: rgb(125, 37, 141);
    color: white;
}

.x32 {
    background-color: rgb(148, 33, 115);
    color: white;
}

.x64 {
    background-color: rgb(146, 29, 66);
    color: white;
}

.x128 {
    background-color: rgb(55, 194, 204);
    color: white;
}

.x256 {
    background-color: rgb(55, 194, 204);
    color: white;
}

.x512 {
    background-color: rgb(55, 194, 204);
    color: white;
}

.x1024 {
    background-color: rgb(44, 222, 121);
    color: white;
}

.x2048 {
    background-color: rgb(44, 222, 121);
    color: white;
}